@media only screen and (max-width: 600px) {
    
 

    
    header{
        display: block;
        height: 150px;
         margin-left: none;
    text-decoration: none;

    }


    
    .logo{
        width: 60%;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 20%;
    }
    
    h1{
        font-size: 250%;
        padding-left: none;
        
     
    }
    
    nav ul{
        display: none;
    }
    
   
    
    .hamburger{
        display: contents;
        font-size: 300%;
        color: black;
       

       
    }
    
    .rightaligned {
    text-align: left;
    padding-right: 0%:
       

    
}
    
  
    main {
    margin-top: 50%;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}
    
    .homelinks{
        display: block;
        align-items: none;
    }
    
    main img{
        width: 90%;
        padding-right: none;
        padding-left: none;
        padding-bottom: none;
        
    }
    
    main h2{
        font-size: 180%;
        padding: none;
    }
    
    main h3{
        font-size: 100%;
    }
    
    .call{
        width: 85%;
    }
    
    .homepage{
        display: none;
    }
    
    p{
        max-width: 90%;
    }
    
}