body{
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

h2{
    font-family: "Arial", sans-serif;
    text-align: left;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .3em;
}

img{
    position: relative;
    
}

button{
    width: 40px;
    height: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
    top: 50%;
    position: absolute;

}


.rightbutton{
    left: 1300px;


}


button:hover {
    opacity: .5;
    transition: .6;



}

