@media only screen and (min-width: 1024px ) {

.header h1{
        font-size: 6em;
    }
    
main {
    width: 900px;
    border: none;
    text-align: left;
    position: relative;
    margin-top: -3em;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: normal;
}
    
.gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1%;

}

main img{
    width: 900px;
    padding-top: 25px;
    padding-bottom: 25px;
}
    

article{
        width: 900px;
    }  
    
  }
